//Brand Colors
$arc-teal: #189bb0;
$tarmac: #2a2b2c;
$altitude-gray: #d4d4d4;

$concourse: #316677;
$flap3: #c6b593;
$fuselage: #6d6e71;

$nightshade: #383552;
$signalorange: #f77f00;
$airfield: #8ac926;

$flare: #ff1b71;
$beacon: #fcbf49;
$nowboarding: #ef233c;

$clearskies: #ffffff;
$fog: #f7f5f5;
$overcast: #aaaaaa;
$landing: #888888;
$autopilot: #000000;

//additional modifiers
$black: $autopilot;
$white: $clearskies;
$red: $nowboarding;
$now-boarding: $nowboarding;

$brand-colors: ("teal", $arc-teal), ("arc-teal", $arc-teal), ("tarmac", $tarmac), ("lightgray", $altitude-gray), ("concourse", $concourse), ("white", $white),
("flap3", $flap3), ("fuselage", $fuselage), ("nightshade", $nightshade), ("signalorange", $signalorange), ("airfield", $airfield), ("flare", $flare),
("beacon", $beacon), ("nowboarding", $nowboarding), ("fog", $fog), ("overcast", $overcast), ("landing", $landing), ("black", $black);

@each $color in $brand-colors {
  .type-color-#{nth($color,1)} {
    color: nth($color, 2) !important;
  }

  .bg-color-#{nth($color,1)} {
    background: nth($color, 2) !important;
  }
}