//Font Family
$arc-font-regular: SourceSansPro-Regular, arial, helvetica, sans-serif;
$arc-font-light: SourceSansPro-Light, SourceSansPro-Regular, arial, helvetica,
  sans-serif;
$arc-font-semibold: SourceSansPro-SemiBold, SourceSansPro-Regular, arial,
  helvetica, sans-serif;
$arc-font-bold: SourceSansPro-Bold, SourceSansPro-Regular, arial, helvetica,
  sans-serif;
$arc-font-black: SourceSansPro-SemiBold, SourceSansPro-Regular, arial, helvetica,
  sans-serif;
