@font-face {
  font-family: SourceSansPro-Regular;
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Regular.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-SemiboldItalic;
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-SemiboldItalic.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-SemiboldItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-Bold;
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Bold.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-Black;
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Black.ttf");
  src: url("https://www2.arccorp.com/static/fonts/SourceSansPro-Black.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-Light;
  src: url("https://www2.arccorp.com/globalassets/style/fonts/SourceSansPro-Light.ttf");
  src: url("https://www2.arccorp.com/globalassets/style/fonts/SourceSansPro-Light.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url("https://www2.arccorp.com/globalassets/style/fonts/SourceSansPro-SemiBold.ttf");
  src: url("https://www2.arccorp.com/globalassets/style/fonts/SourceSansPro-SemiBold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("https://www2.arccorp.com/globalassets/style/fonts//icomoon.eot?3p9rfka");
  src: url("https://www2.arccorp.com/globalassets/style/fonts//icomoon.eot?3p9rfka#iefix")
      format("embedded-opentype"),
    url("https://www2.arccorp.com/globalassets/style/fonts//icomoon.ttf?3p9rfka")
      format("truetype"),
    url("https://www2.arccorp.com/globalassets/style/fonts//icomoon.woff?3p9rfka")
      format("woff"),
    url("https://www2.arccorp.com/globalassets/style/fonts//icomoon.svg?3p9rfka#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-search:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e904";
}
.icon-arc-logo:before {
  content: "\e905";
}
.icon-zoom:before {
  content: "\e906";
}
.icon-x-close:before {
  content: "\e907";
}
.icon-rightarrow-circle:before {
  content: "\e908";
}
.icon-right-arrow:before {
  content: "\e909";
}
.icon-quote:before {
  content: "\e90a";
}
.icon-airplane:before {
  content: "\e90b";
}
.icon-down-arrow:before {
  content: "\e90c";
}
.icon-up-arrow:before {
  content: "\e90d";
}
.icon-left-arrow:before {
  content: "\e90e";
}
.icon-file-pdf-etc:before {
  content: "\e90f";
}
.icon-training-video:before {
  content: "\e910";
}
.icon-upcoming-webinar:before {
  content: "\e910";
}
.icon-recorded-webinar:before {
  content: "\e910";
}
.icon-newsletter:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-radio:before {
  content: "\e913";
}
.icon-instagram:before {
  content: "\e914";
}
.icon-travelconnect-logo:before {
  content: "\e920";
}
.icon-iso_logo:before {
  content: "\e925";
}

$arc-font-regular: SourceSansPro-Regular, arial, helvetica, sans-serif;
$arc-font-light: SourceSansPro-Light, SourceSansPro-Regular, arial, helvetica,
  sans-serif;
$arc-font-semibold: SourceSansPro-SemiBold, SourceSansPro-Regular, arial,
  helvetica, sans-serif;
$arc-font-bold: SourceSansPro-Bold, SourceSansPro-Regular, arial, helvetica,
  sans-serif;
$arc-font-black: SourceSansPro-SemiBold, SourceSansPro-Regular, arial, helvetica,
  sans-serif;
