$spacing-1: 15px;
$spacing-2: 30px;
$spacing-3: 45px;
$spacing-4: 60px;


// general margin and padding spacing
// $ms-1 
// $ps-1

// directional margin and padding spacing:
// mt-1 | mb-1 | ml-1 | mr-1
// pt-1 | pb-1 | pl-1 | pr-1

// loop through the spacing options and set them to margin and padding
