@import url("https://www2.arccorp.com/globalassets/static/style.css?a3834s721982a73");

@import url("https://arccorp-script-test.netlify.app/main.min.css");

@import "../scss/main.scss";

#storybook-root, #root {width: 100%}

.sbdocs {
  max-width: 100% !important;
}

.sb-highlight {
  font-weight: bold;
  color: red;
}